html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.long-field {
    width: 100%;
}

.generated-forms-container {
    width: 75%;
    margin: auto;
    padding: 20px 0;
    display: block;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.request-footer {
    height: 38px;
}

.checkbox {
    margin-bottom: 22px;
}