html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field:last-child .mat-mdc-form-field-subscript-wrapper {
    height: 0 !important;
}