.long-field {
    width: 100%;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.request-footer {
    margin-top: 10px;
    height: 38px;
}

.checkbox {
    margin-bottom: 22px;
}

.class-field-container {
    display: flex;
}

.label {
    margin: 20px 10px !important;
    text-align: center;
}

.class-container {
    border: 1px grey dashed;
    padding: 4px;
    width: 100%;
}

.array-container {
    display: flex;
    flex-direction: column;
}